.produtos-moda {
    background-color: #BB86FC;
    color: white;
}

.descricao-produtos-moda {
    background-color: #424250;
    color: white;
}

.produtos-casa {
    background-color: #00C4B4;
    color: white;
}

.descricao-produtos-casa {
    background-color: #424250;
    color: white;
}